* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text eol=lf
*.zip binary
*.gz binary
*.tar binary
*.img binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
